# pycache
src/__pycache__/
installation/__pycache__/

# venv directory
env/

# data files
data/

# setting files
setting/*
!setting/smartrc.cfg.default

# installation
log/
installation/smartrc_bot.crontab
installation/pigpiod.crontab
installation/smartrc
